# general
node_modules/
dist/
.vscode/
.idea/
tmp/

# ionic
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

.ionic/
.sass-cache/
.sourcemaps/
coverage/
platforms/
plugins/
www/

# angular
out-tsc/
bazel-out/

# profiling
chrome-profiler-events*.json
speed-measure-plugin*.json
